@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
#root {
  min-height: 100vh;
  display: flex;
  animation: fadeIn 1.5s;
}
.fading {
  animation: fadeIn 1.5s;
}
.gradient-text {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.result::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
.loader hr {
  background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
  background-size: 800px 50px;
  animation: loader 2s infinite linear;
}
@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 2s linear infinite;
}
@keyframes growWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.grow {
  animation: growWidth 1s ease-in-out forwards;
}
.card-container::-webkit-scrollbar {
  display: none;
}
.card-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  padding-left: 12px;
}
.card-container > * {
  flex: 0 0 auto;
  scroll-snap-align: start;
}
.sidebar {
  width: 4.6rem;
  transition: width 0.5s ease; /* Smooth transition */
}

.sidebar.open {
  width: 23.7rem;
  display: inline-flex !important;
}
